# Ignore keys file
secret.py

run_notion_script_linux.sh
run_notion_script_windows.bat
participants_table.py
# Ignore data folder
data/
# Ignore analysis output
data/analysis/
# Ignore Python bytecode files
*.pyc
__pycache__/
# Ignore log files
*.log
logs/
# Ignore virtual environment folder
venv/
.env/
notion/